* {
    font-family: sans-serif;
}

.waves-effect {
    font-family: sans-serif;
    font-weight: bolder;
}

.padding-custom-1 {
    padding: 12.5px;
    color: white;
    margin-top: -10px;
}

.margin-custom {
    margin-top: 20px;
}

.background-custom {
    background-color: rgba(255, 0, 0, 0.65);
}

span {
    font-size: 12px;
    display: inline-block;
}

p > img {
    margin: 0 15px;
}

#standing-header {
    margin-bottom: 15px;
}

#teamname {
    width: 35%;
    font-weight: bolder;
}

#games, #won, #draw, #lost, #points {
    width: 7.5%;
}

#number-banner {
    margin-left: 20px;
    width: 10%;
}

#teamname-banner {
    width: 37.5%;
}

#games-banner {
    width: 7.5%;
}

@media screen and (max-width: 1024px) {
    p > img {
        display: none;
    }
}