@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  width: 98vw;
  height: 120vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: grey;
  color: white;
}

h1 {
  text-align: center;
  margin: 10vh 8vw 10px 10vw;
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

p {
  text-align: center;
  margin-bottom: 40px;
}

form {
  text-align: center;
}

input, button {
  display: block;
  margin: 0 auto;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

button {
  background-color: purple;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 5px 4px 8px 0 rgba(255, 0, 0, 0.5);
  font-family: 'Comic Neue', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: purple;
}

button:active {
  background-color: blue;
  color: yellow;
}

#output {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jadisatu {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  justify-content: space-around;
}

.satu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50%;
  box-shadow: 5px 4px 8px 0 rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: black;
}

.satu h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
}

#satu h3 {
  color: red;
}

#dua h3 {
  color: orange;
}

#tiga h3 {
  color: yellow;
}

#jadidua {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  margin-bottom: 50px;
}

.empat {
  padding: 15px;
  box-shadow: 5px 4px 8px 0 rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-color: white;
  color: black;
}

.empat h2 {
  margin-top: 20px;
}

#siaga {
  color: red;
}

#awas {
  color: yellow;
}

.empat h3 {
  margin-top: 20px;
}

.empat ol {
  margin-top: 15px;
  list-style-type: none;
  text-align: left;
}

.empat li {
  margin-top: 25px;
}

.empat h4 {
  margin-bottom: 25px;
}

 #lima {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fas {
  font-size: 30px;
}

#lima th {
  text-align: left;
}

#lima tr {
  margin: 10px 0;
}

@media screen and (max-width: 990px) {
  .satu {
    width: 100%;
  }

  .empat {
    width: 100%;
  }
}